/* .square {
    padding-bottom: 100%;
    position: relative;
    height: 0;
  }
  
  .square>div {
    position: absolute;
    height: 100%;
    overflow-y: auto;
    padding: 1rem;
  } */

  .card {
    width: 400px;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 10px;
  }